#navigation {
    position: relative;
}

    #navigation #left {
        height: 100px;
        width: 40px;

        top: 200px;
        left: 20px;

        z-index: 1;

        position: absolute;
    }

    #navigation #right {
        /*background-color: #4f85ce;*/

        height: 100px;
        width: 40px;

        top: 200px;
        right: 20px;

        z-index: 1;

        position: absolute;
    }

    .nav-normal {
        fill: #c3c3c3;
    }

        .nav-normal:hover {
            fill: #4f85ce;
        }

        .nav-normal:active {
            fill: #6f9edd;
        }

div#explorer #chart {
    background-color: rgb(240, 240, 240);
    position: relative;
    text-align: center;
}


div#information {
    margin: 15px 15px 20px 15px;
}
    
    #dates {
        float: left;
    }

    #export-to {
        float: right;

    }

    .blue-button {
        font-family: "Segoe UI";

        background-color: transparent;

        border: 1px solid #4f85ce;
        border-radius: 5px;
        color: #376db6;

        width: 200px;

        margin: 0 0 5px 0;
        padding: 5px;
    }

    .blue-button:focus {
        outline: none;
    }

    .blue-button:hover {
        background-color: #4f85ce;
        color: white;

        cursor: pointer;
    }

    .blue-button:active {
        background-color: #6192d4;
        color: white;
    }

    #update-chart {
        width: 100%;
        margin-top: 5px;
    }

