nav#main-menu {
    margin: 0;

    background-color: white;
}

.shadowed-line {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 18px;
    text-align: center;
}

#main-menu ul {
    margin: 0;
    padding: 0;

    font-family: "Segoe UI";
}

#main-menu ul li {
    display: inline-block;

    padding: 5px 15px 6px;
}

a.no-style {
    text-decoration: none;
}

    a.no-style:hover {
        text-decoration: none;
    }

    a.no-style:visited {
        color: #898989;
    }

.text-color-gray {
    color: #898989;
}