nav#main-menu {
    margin: 0;
    z-index: 30;
    width: 100%;
    background-color: white;
}

nav.main-menu-floating {
    position: fixed;
    top: 0px;
}

.shadowed-line {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 18px;
    text-align: center;
}

#main-menu-wrapper {
    height: 34px;

    position: relative;
}

#main-menu ul {
    margin: 0;
    padding: 0;

    font-family: "Segoe UI";
}

#main-menu ul li {
    display: inline-block;

    color: #898989;

    transition: background-color 0.1s ease-in-out;

    padding: 5px 15px 6px;
}

    #main-menu ul li:active {
        background-color: #6f9edd;
    }

    .menu-item-hover {
        background-color: #4f85ce;
        cursor: pointer;
    }

    .menu-item-hover>a {
        color: white;
        transition: color 0.1s ease-in-out;
    }



a {
    outline: 0;
}

    a.no-style {
        text-decoration: none;
    }

        a.no-style:hover {
            text-decoration: none;
        }

        a.no-style:visited {
        
        }

.text-color-gray {
    color: #898989;
}
