@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
    <title>Currency Explorer</title>

    <link rel="stylesheet" href="~/styles/common.css" />
    <link rel="stylesheet" href="~/styles/main-menu.css" />
</head>
<body>
    <header>
        <div id="page-title">
            <h1>Currency Explorer</h1>
            <hr />
            <h2>Be aware of necessity</h2>
        </div>

    </header>
    <nav id="main-menu">
        awdasd
    </nav>
    <main>
        <div id="explorer">
            <div id="today"></div>
            <div id="chart">

            </div>
            <div id="navigation"></div>
            <div id="timeline">

            </div>
            <div id="information">

            </div>
        </div>
        <div id="about"></div>
        <div id="help"></div>
    </main>
    <footer></footer>

</body>
</html>
