@using System.Threading.Tasks
@using CurrencyExplorer.Models.Entities
@using CurrencyExplorer.Utilities
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
    <title>Currency Explorer</title>

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/js/common.js"></script>
    <script type="text/javascript" src="~/js/explorer.js"></script>

    <link rel="stylesheet" href="~/styles/common.css" />
    <link rel="stylesheet" href="~/styles/main-menu.css" />
    <link rel="stylesheet" href="~/styles/explorer.css" />
    <link rel="stylesheet" href="~/styles/chart.css" />
    <link rel="stylesheet" href="~/styles/scroller.css" />
</head>
<body>
    <header>
        <div id="page-title">
            <h1>Currency Explorer</h1>
            <hr class="no-style title-hr" />
            <h2>BE AWARE OF NECESSITY</h2>
        </div>

    </header>
    <div id="main-menu-wrapper">
        <nav id="main-menu" class="shadowed-line">
            <ul>
                <li>
                    <a href="#" class="no-style text-color-gray" data-name="settings">Settings</a>
                </li>
                <li>
                    <a href="#" class="no-style text-color-gray" data-name="explore">Explore</a>
                </li>
                <li>
                    <a href="#" class="no-style text-color-gray" data-name="help">Help</a>
                </li>
                <li>
                    <a href="#" class="no-style text-color-gray" data-name="about">About</a>
                </li>
            </ul>
        </nav>
        <div id="settings">
            <div id="settings-wrapper">
                <div id="settings-head" class="clear-after">
                    <div id="settings-title">Settings</div>
                    <a href="#" id="settings-close"></a>
                </div>
                <div id="settings-body">
                    <hr />
                    <div class="clear-after">
                        <div>
                            Interface language
                        </div>
                        <div id="lang-selector">
                            <div id="ru" class="lang lang-selected">
                                <img src="~/img/lang-ru.png"/>
                            </div>
                            <div id="ua" class="lang">
                                <img src="~/img/lang-ua.png"/>
                            </div>
                            <div id="en" class="lang">
                                <img src="~/img/lang-en.png"/>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div id="convert-from" class="clear-after">
                        <div>How many</div>
                        <div>UAH</div>
                    </div>
                    <div id="convert-to" class="clear-after">
                        <div>in</div>
                        <div>
                            <select name="target-currency">
                                <option name="usd">USD</option>
                                <option name="eur">EUR</option>
                            </select>
                        </div>
                    </div>
                    <input id="btn-submit-settings" type="submit" value="Apply"/>
                </div>
            </div>
        </div>
    </div>

    <main>
        <div id="explorer">
            <div id="today" class="text-color-gray">
                @ViewBag.Info<br/>
                @Html.Partial("~/Views/Partial/TodayPartial.cshtml", ((UserSettings) ViewBag.UserSettings).Currencies)
                <hr class="no-style today-hr"/>
            </div>

            <div id="navigation">
                <div id="left">
                    <svg id="btn-nav-left" width="40" height="100" onclick="scrollChartLeft(50, false)">
                        <polygon points="25,0 0,50, 25,100 40,100 15,50 40,0 25,0" class="nav-normal"></polygon>
                    </svg>
                </div>
                <div id="right">
                    <svg id="btn-nav-right" width="40" height="100" onclick="scrollChartRight(50, false)">
                        <polygon points="25,0 0,50, 25,100 40,100 15,50 40,0 25,0" class="nav-normal" transform="rotate(180 20 50)"></polygon>
                    </svg>
                </div>
            </div>

            <div id="chart">
                <div id="chart-popup" class="popup-hidden">
                    <div id="currency-name">USA dollar</div>
                    <div id="currency-value">25.065315</div>
                    <div id="currency-date">2016.05.21</div>
                </div>
                <canvas width="800" height="500" style="background-color: transparent" id="canvas-explorer-chart">

                </canvas>
                <table id="loading-container" class="loading-hidden">
                    <tr>
                        <td>
                            <svg id="loading-animation" width="66px" height="66px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                <g>
                                    <animateTransform attributeName="transform" type="rotate" values="0 33 33;270 33 33" begin="0s" dur="1.4s" fill="freeze" repeatCount="indefinite" />
                                    <circle fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30" stroke-dasharray="187" stroke-dashoffset="610">
                                        <animate attributeName="stroke" values="#4285F4;#DE3E35;#F7C223;#1B9A59;#4285F4" begin="0s" dur="5.6s" fill="freeze" repeatCount="indefinite" />
                                        <animateTransform attributeName="transform" type="rotate" values="0 33 33;135 33 33;450 33 33" begin="0s" dur="1.4s" fill="freeze" repeatCount="indefinite" />
                                        <animate attributeName="stroke-dashoffset" values="187;46.75;187" begin="0s" dur="1.4s" fill="freeze" repeatCount="indefinite" />
                                    </circle>
                                </g>
                            </svg>
                        </td>
                    </tr>
                </table>

            </div>
            <div id="information" class="text-color-gray clear-after">
                <div id="dates">
                    <table>
                        <tr>
                            <td>Begin date:</td>
                            <td><input type="date" id="date-begin" value="@Utils.GetClientFormattedDateString(((UserSettings) ViewBag.UserSettings).TimePeriod.Begin)" /></td>
                        </tr>
                        <tr>
                            <td>End date:</td>
                            <td><input type="date" id="date-end" value="@Utils.GetClientFormattedDateString(((UserSettings) ViewBag.UserSettings).TimePeriod.End)"/></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="submit" onclick="loadChartData()" id="update-chart" class="blue-button" name="update-chart" value="Update chart" />
                            </td>
                        </tr>
                    </table>

                </div>
                <div id="export-to">
                    <input type="submit" onclick="" class="blue-button" name="export-image" value="Export as image"/>
                    <br/>
                    <input type="submit" onclick="" class="blue-button" name="export-table" value="Export as table"/>
                </div>
            </div>
        </div>
        <div id="about">
            <div id="about-title" class="shadowed-line">
                About the project
            </div>
        </div>
        <div id="help">
            <div id="help-title" class="shadowed-line text-color-gray">
                Help
            </div>
        </div>
    </main>
    <footer class="shadowed-line">
        <div id="footer-title">
            Currency Explorer
        </div>
        <div id="copyright">
            Copyright © 2016, Alexander Yasko, All rights reserved.
        </div>
    </footer>

</body>
</html>

