@using CurrencyExplorer.Models.Entities
@model IEnumerable<CurrencyExplorer.Models.Entities.CurrencyData>
@{
}

@foreach (CurrencyData data in Model)
{
    <div>
        Today <span>1 @data.ShortName</span> costs <span>@data.Value UAH</span>
    </div>
}

<div id="today-currency-date">
    <i>Actual currency on @Model.First().ActualDate.ToShortDateString()</i>
</div>

