@using CurrencyExplorer.Models.Entities
@using CurrencyExplorer.Models.Entities.Database
@model IEnumerable<CurrencyExplorer.Models.Entities.Database.CurrencyDataEntry>
@{
}

@foreach (CurrencyDataEntry data in Model)
{
    <div>
        Today <span>1 @data.DbCurrencyCodeEntry.Alias</span> costs <span>@data.Value UAH</span>
    </div>
}

<div id="today-currency-date">
    <i>Actual currency on @Model.First().ActualDate.ToShortDateString()</i>
</div>

